.jumbotron{
	margin-top:50px;
	background-color: #cdcdcd;
	color: black;
}

footer{
	background-color: #cdcdcd;
}

.card-semester{
	flex: 1 150px;
	//padding: 5px 5px 5px 5px;
	margin: 2px 2px 2px 2px;
	background-color: #cdcdff;
}

.footer-address-icon{
padding-right: 10px;
}

